@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.body-text {
  color: #3a3a3a;
  font-weight: 400;
}

.header {
  background-color: white;
}

.hero-container {
  background-image: url('/assets/images/hero_bckg.png'); 
  background-size: cover; 
  background-position: center; 
  position: relative;
  width: 100%;
  height: 550px;
  border-radius: 30px;
  overflow: hidden; 
}

.hero-cards {
  width: 30%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); 
  border: 1px solid #fff; 
  border-radius: 20px; 
  cursor: pointer;
  float: left;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.hero-cards:hover {
  transform: translateY(-4px); 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.checked {
  color: #ff9f43;
}

.custom-size {
  font-size: 24px;
}


