.footerBody {
  position: relative;
  background: #3682fb;
  font-family: 'Eras ITC', sans-serif;
  max-height: 300px; /* Limits the footer height */
  z-index: 1;
  overflow: hidden; /* Ensures no overflow of content */
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 300px;
  z-index: -1; /* Ensure particles are in the background */
}

.particleWrapper {
  position: relative;
  overflow: hidden; /* Ensures the particles stay within the footer bounds */
  max-height: 300px;
  width: 100%;
}

.particlesBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 300px;
  z-index: -1; /* Sends particles behind the content */
}

.footerContent {
  position: relative;
  z-index: 1; /* Ensures content is above the particles */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  max-height: 300px; /* Keeps content height within the limit */
  padding: 0 4rem;
}

.logoContainer {
  text-align: center;
  margin-bottom: 1rem; /* Adjusted margin for smaller footer */
}

.logo {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  padding: 20px 20px;
  justify-content: center;
  width: 100%;
}

.row p {
  font: 0.9em;
  padding: 0 4rem;
}

.column {
  width: 48%;
}

.divider {
  border-top: 1.5px solid white; /* Creates the white line */
  width: 100%; /* Full width line */
  margin: 10px 0; /* Adds spacing above and below the line */
  opacity: 50%;
}

.footerBottom {
  text-align: center;
  padding: 1rem 0; /* Adjusted padding for reduced height */
  background-color: transparent;
}

.footerBottom p {
  color: #ffff;
  text-decoration: none;
  transition: color 0.3s ease;
  font: 0.85em sans-serif;
}
