/* profileStatCard.module.css */
/* Main profile card styling */
.profileCard {
  display: flex;
  background: var(--sidebar-color);
  border-radius: 12px;
  padding: 0 2.5rem;
  width: 100%;
  justify-content: space-between; /* Center horizontally */
  align-items: center; /* Center vertically */
  max-height: 250px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Profile Image Column */
.profileImage {
  flex: 0 0 auto; /* Prevent the image from expanding */
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.profileImage img {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  object-fit: cover;
}

/* Profile Info Column */
.profileInfo {
  flex: 1;
  flex-direction: column;
}

.profileInfo p {
  margin: 5px 0;
  font-size: 0.9em;
  color: var(--text-color);
}

/* Profile Stats Column */
.profileStats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 150px;
  margin-left: 1.5rem;
}

/* Each stat item styling */
.statItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  background-color: var(--primary-light);
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  padding: 1rem;
}

.statBox {
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 10px;
  color: #ffff;
}

.statText {
  color: var(--text-color);
  font-size: 0.85em;
  font-weight: 600;
  flex: 1; /* Extend text to full width */
}

/* .divider {
  border: 1px solid var(--text-color);
  max-width: 2px;
  opacity: 50%;
} */