/* upcomingSession.module.css */
.cardWrapper {
  position: relative;
  margin-bottom: 16px;
}

.card {
  background-color: var(--sidebar-color);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 0 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.5s ease, opacity 0.5s ease; /* Adjusted for smoother transitions */
  position: absolute; /* Changed to absolute for stacking */
  left: 0;
  right: 0;
  height: 180px;
}

.cardActive {
  z-index: 2;
  opacity: 1;
  transform: translateY(0); /* No vertical movement */
}

.cardInactive {
  z-index: 1;
  opacity: 0.8; /* Slightly transparent */
  transform: translateY(30px) scale(0.9); /* Moved downwards */
}

.content {
  display: flex;
  width: 100%;
}

.main {
  flex: 7;
}

.header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--text-color);
}

.subtext {
  font-size: 0.9rem;
  color: #6b7280;
  margin-bottom: 16px;
}

.sessionInfo {
  flex: 3; /* Takes 3/10 of the space */
  text-align: right;
}

.date {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
}

.time {
  font-size: 0.9rem;
  color: var(--text-color);
}

.divider {
  width: 1px;
  background-color: #d1d5db;
  margin: 0 16px;
  height: 100px;
  align-self: center;
}
